HEATSENSE_API_ROOT=https://climate-heatsense.onrender.com/api
CARTO_API_KEY=https://basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}.png?key=cb1_4537_1_633ca9ad83acb602e01ff504
CARTO_API_KEY=cb1_4537_1_633ca9ad83acb602e01ff504